h1{color : rgb(251, 255, 0)}
h2{color : rgb(241, 0, 0)}
h3{color : rgba(102, 255, 135, 0.911)}
h4{color : rgb(255, 0, 200)}
h5{color : rgb(255, 251, 0)}
a{color :  rgb(0, 255, 255);}
p{color :  rgb(255, 255, 255)e;}

hr{ border: 3px solid rgb(255, 255, 255);border-radius: 5px;width: 200;}

img{border : solid rgb(41, 43, 197) ;border-radius: 50px;}

.head{

    text-align : center;
    background-image: url("images/bg.png");

}

.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url("images/bg.png");

}

.foot{
    background-image: url("images/bg.png");

}


